.content {
    display: flex;
    flex-direction: column;

    h3,
    h2,
    h1 {
        color: rgb(0, 0, 0, 0.8);
    }

    ul {
        display: flex;

        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        justify-content: space-around;
        list-style-type: none;
        max-width: fit-content;

        li {
            border-radius: 1rem;
        }
    }

    .cards {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        margin-top: 2rem;
    }

    .inputcontent {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 0.5rem;
        position: relative;

        input {
            width: 15rem;
        }

        button {
            -webkit-transition: all 0.3s;
            cursor: pointer;

            &:disabled {
                background-color: rgb(202, 202, 202);
                color: rgb(148, 148, 148);
                cursor: not-allowed;
            }
        }

        &::before {
            content: attr(data-description);
            position: absolute;
            bottom: -1.25rem;
            font-size: 12px;
            opacity: 50%;
        }

    }
}